<h1><%= @goal.description %></h1>
<h2>
<% if @goal.completed == "0" %>
  Goal Incompleted
<% elsif @goal.completed == "1" %>
  Goal Completed
<% end %>
</h2>
<%= button_to "Edit Goal", edit_goal_url(@goal), method: :get %>
<%= button_to "Delete Goal", goal_url(@goal), method: :delete %>
<%= link_to "Goals", goals_url %>


<% if @goal.completed == "0" %>
  <%= flash[:errors] %>
  <form class="" action="<%= goal_url(@goal) %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <%= auth_token %>
    <input type="hidden" name="goal[completed]" value="1">
    <input type="submit" value="Completed">
  </form>
<% end %>

<ul>
  <% @goal.goal_comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>

<%= flash[:errors] %>
<form class="" action="/goal_comments" method="post">
  <%= auth_token %>
  <input type="hiddent" name="goal_comment[goal_id]" value="<%= @goal.id %>">
  <input type="text" name="goal_comment[body]">
  <input type="submit" value="Add Comment">
</form>
